.reservation {
  padding: 100px 0 120px;
  background: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.reservation__title {
  margin: 0 auto 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 385px;
}
.reservation__form {
  margin: 0 auto;
}
